body {
    background-color: #131314;
    margin: 0;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
header {
    background-color: black;
    width: 100%;
    height: 10vh;
    position:fixed;
    top:0;
    z-index: 1000;
}
.title{
    display:none;
    font-size:40px;
    font-family:'Times New Roman', Times, serif;
    margin: 20px 10px;
    font-weight: bold;

}
.dautrang {
    width: 70%;
    margin: auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.dauphim{
    margin: auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
}
.thongtin ul{
    list-style-type: disc;
    display: flex;
    gap: 10px;
}
ul{
    padding-inline-start: 0;
    list-style: none;
}
header ul {
    display: flex;
    list-style: none;
    /* gap: 20px; */
    padding: 0;
    margin: 0;
    align-items: center;
}
.imglogo{
    width:140px;
    height:auto;
}
li {
    margin-right: 20px;
}
a {
    color: white;
    text-decoration: none;
}
main {
    width: 70%;
    background-color: black;
    margin: auto;
    /* overflow:scroll; */
}

.chucnang{
    display:flex;
    justify-content: space-between;
    padding-right:20px;
    align-items: center;
}
.nutbam{
    border-radius: 10px;
    background-color: #ff6500;
    color:white;
    padding:10px;
    display:flex;
    gap:10px;
    cursor: pointer;
}
.imgqc, .imgtroi, .imgbn{
    border-radius: 10px;
    width:100%;
    height:auto;
}
.imgbn{
    margin-bottom: 20px;
    margin-top:10vh;
}
#bannerVideo{
    border-radius: 10px;
    width:100%;
    height:500px;
    display:none;
    z-index:2;
}
.imgtroi{
    display:block;
    z-index: 2;
    height:400px;
}
.imgtroi-small{
    display:block;
    z-index:2;
    width:600px;
    height:300px;
    border-radius:10px;
}
.imgqc{
    margin-bottom:30px;
    background-image: url(img/title/chuatehuyenbi.png);
}
.imgphim{
    border-radius: 10px;
    width:180px;
    height:300px;
    /* background-image: url(img/phim/bongdungtrungso.jpg); */
}
.imgphim-ngang{
    border-radius:10px;
    width:300px;
    height:200px;
}
.anhcochu{
    position:relative;
    width:100%;
    margin-bottom:40px;
    background-image: url('img/ngang/poster.jpg');
    display:block;
    z-index: 2;
    height:500px;
    background-size: cover; /*vừa với khối*/
    background-repeat:no-repeat; /*không lặp lại ảnh nếu phóng to thu nhỏ*/
    background-position: center; /*zoom giữa ảnh ra*/
    border-radius: 20px;
}
.anhcochu-small{
    position:relative;
    width:100%;
    margin-bottom:40px;
    display:block;
    z-index: 2;
}
.gradient{
    position:absolute;
    bottom:0; left:0; top:50%; right:0;
    padding-left: 5%;
    background: linear-gradient(
    to top right,               /* hướng từ dưới trái lên trên phải */
    rgba(0, 0, 0, 1),         /* góc dưới bên trái: đen đậm */
    rgba(0, 0, 0, 0.0) 90%      /* góc trên bên phải: trong suốt */
    );
}
.thongtin{
    flex-grow: 1;
}

.chutrenanh{
    position:absolute;
    bottom:0;
    left:0;
    top:40%;
    right:50%;
    z-index: 0;
    /* background:transparent; */
    /* border:white solid 3px; */
}
.chutrenanh img{
    width:auto;
    height:auto;
    margin-left:20px;
    object-fit: contain;
}
.imgtrenanh{
    width:50%;
    height:auto;
    object-fit: contain;
}
.troi{
    overflow-x: scroll;
    display:flex;
    justify-content: space-around;
}
.tptroi{
    margin-right: 20px;
}
footer{
    border-top: white solid 1px;
    width:70%;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 10px;
}
.chan{
    border-bottom: white solid 1px;
    display:flex;
    justify-content: space-between;
    margin:20px 0;
}
/* overflow:scroll */
.chan img{
    object-fit: contain;
    width:150px;
    height:auto;
    vertical-align: middle;
}
.chuchan{
    display:flex;
    justify-content: space-between;
}
.iconchan{
    display:flex;
    justify-content: flex-start;
    gap:20px;
}
/*Danh mục*/
.danhmuc{
    overflow-x: scroll;
    display:flex;
    justify-content: space-around;
    gap:10px;
    /* background-image: url(img/350x495-muado.jpg); */
}
.danhmuccon{
    text-align: center;
    border-radius: 10px;
    padding:20px 60px;
}

